@charset "UTF-8";
/*리셋코드*/
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

* {
  font-family: "pretendard";
}

#subreserve {
  width: 100%;
  height: 540%;
  background: #fff;
  border: 1px solid #000;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  position: absolute;
  top: 79px;
  left: 0;
  transition: all 0.5s;
}

#subreserve.active {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: #FAF8F3;
}

header {
  z-index: 500;
  box-sizing: border-box;
  background: transparent;
  color: #fff;
  padding: 1vw 0;
  text-align: center;
  position: fixed;
  width: 100%;
  transition: all 0.4s;
}
header .inner {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner h1 {
  white-space: nowrap;
  font-size: 0;
}
header .inner h1 img {
  width: 8vw;
}
header .inner h1 #blacklogo {
  display: none;
}
header.scrolled {
  background: #fff;
  color: #333;
}
header.scrolled h1 #whitelogo {
  display: none;
}
header.scrolled h1 #blacklogo {
  display: block;
}
header.scrolled #rightmenu ul li a {
  color: #000;
}
header.scrolled #rightmenu ul li:first-child::after {
  content: "|";
  color: #000;
  font-size: clamp(15px, 0.9vw, 20px);
}
header.scrolled nav ul li a {
  color: #000;
}
header.scrolled nav ul li a:hover {
  color: #808080;
}

nav {
  display: flex;
}

#rightmenu {
  vertical-align: middle;
}
#rightmenu ul {
  display: flex;
}
#rightmenu ul li {
  margin: 0 10px;
  white-space: nowrap;
}
#rightmenu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 47px;
  font-size: clamp(16px, 1.05vw, 20px);
}
#rightmenu ul li:first-child::after {
  content: "|";
  color: #fff;
  padding-left: 16px;
  font-weight: bold;
  font-size: clamp(10px, 0.9vw, 20px);
}

nav ul {
  white-space: nowrap;
  list-style: none;
  padding: 0;
}

nav ul li {
  white-space: nowrap;
  display: inline;
  margin: 0 3.5vw;
}

nav ul li a {
  line-height: 47px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(16px, 1.35vw, 22px);
}

nav ul li a:hover {
  color: #808080;
}

main .scroll {
  opacity: 0;
  transition: all 0.9s;
  transform: translateY(70px);
}
main .scroll.scrolled {
  opacity: 1;
  transition: all 0.9s;
  transform: translateY(0px);
}

#mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
}
#mainvisual .sharp {
  margin-left: 20px;
}
#mainvisual .swiper {
  width: 100%;
  height: 100%;
}
#mainvisual .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#mainvisual .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
#mainvisual .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainvisual .swiper #pager {
  display: flex;
  position: absolute;
  right: 150px;
  bottom: 80px;
  z-index: 100;
}
#mainvisual .swiper #pager .page {
  color: #fff;
  margin: 0 40px;
  width: 40px;
  text-align: center;
}
#mainvisual .swiper #pager .prev, #mainvisual .swiper #pager .next {
  cursor: pointer;
}
#mainvisual .intro {
  position: absolute;
  left: 220px;
  bottom: 80px;
  color: #fff;
}
#mainvisual .intro h2 {
  line-height: 1.3;
  font-size: clamp(30px, 2.5vw, 48px);
  white-space: nowrap;
}
#mainvisual .intro h4 {
  margin-top: 10px;
  line-height: 1.4;
  font-size: clamp(18px, 1.5vw, 25px);
  white-space: nowrap;
  font-weight: 500;
}
#mainvisual .intro p:nth-child(3) {
  margin: 20px 0;
  width: 170px;
  height: 100%;
  transition: all 0.5s;
}
#mainvisual .intro p:nth-child(3) a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px 50px;
  height: 47px;
  line-height: 47px;
  width: 150px;
  font-weight: bold;
}
#mainvisual .intro p:nth-child(3):hover a {
  color: #8B4513;
  background: #fff;
}
#mainvisual .intro p:nth-child(4) a {
  text-decoration: none;
  color: #fff;
}
#mainvisual .intro p:nth-child(4) .hotel {
  padding-left: 10px;
}

.inner {
  padding: 0 220px;
}

#booking {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  outline: 1px solid red;
  background: #fff;
  margin-bottom: 100px;
}

#rooms .titles h2 {
  margin-bottom: 20px;
  font-size: clamp(24px, 2.1vw, 40px);
}
#rooms .titles p {
  float: right;
  width: 80px;
  height: 32px;
  line-height: 32px;
}
#rooms .titles p a {
  color: #2B2921;
  font-weight: bold;
  font-size: clamp(16px, 1vw, 20px);
}

#roomtabs {
  width: 100%;
  white-space: nowrap;
}
#roomtabs input {
  display: none;
}
#roomtabs input:checked + label p {
  color: #000;
  background: #2B2921;
}
#roomtabs input:checked + label p span {
  font-weight: bold;
  color: #fff;
  font-size: clamp(16px, 1vw, 20px);
}
#roomtabs input + label {
  width: 60px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 0.5vw;
}
#roomtabs input + label p {
  width: 70px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
#roomtabs input + label p span {
  font-weight: bold;
  font-size: clamp(16px, 1vw, 20px);
  color: #2B2921;
}

.locations {
  width: 100%;
  height: 29vw; /*outline: 1px solid blue;*/
  display: flex;
  justify-content: space-between;
}
.locations .room {
  width: 32%;
  height: 28vw; /*outline: 1px solid green;*/
  box-sizing: border-box;
}
.locations .room .roomimg {
  width: 100%;
  height: 16vw;
  position: relative; /*outline: 1px solid yellow;*/
}
.locations .room .roomimg > p {
  width: 100%;
  height: 100%;
}
.locations .room .roomimg > p img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
}
.locations .room .roomimg .discount {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
}
.locations .room .roomimg .discount p {
  width: 4.2vw;
  height: 1.5vw;
}
.locations .room .roomimg .discount p span {
  width: 100%;
  height: 100%;
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
}
.locations .room .roomimg .discount p .dis1 {
  background: #017BC6;
  padding: 0.2vw 0.5vw;
  font-size: clamp(8px, 1vw, 16px);
}
.locations .room .roomimg .discount p .dis2 {
  background: #1A1A1A;
  padding: 0.2vw 0.5vw;
  font-size: clamp(8px, 1vw, 16px);
}
.locations .room .info {
  width: 100%;
  height: 12vw;
  box-sizing: border-box; /*outline: 1px solid gray;*/
  padding: 5px 0;
  text-align: center;
}
.locations .room .info p:first-child {
  font-weight: bold;
  font-size: 1.3vw;
  margin-top: 18px;
  white-space: nowrap;
}
.locations .room .info p:nth-child(2) {
  margin-top: 13px;
  font-weight: 600;
  font-size: 1.05vw;
  white-space: nowrap;
  color: #2B2921;
}
.locations .room .info p:nth-child(3) {
  margin-top: 15px;
  font-weight: bold;
  white-space: nowrap;
  color: #2B2921;
}
.locations .room .info p:last-child {
  margin-top: 10px;
  font-weight: bold;
  white-space: nowrap;
}
.locations .room .info p:last-child .price {
  color: #8B4513;
  font-weight: 900;
}
.locations .room .info p:last-child .ogprice {
  color: #555;
  text-decoration: line-through;
  margin-right: 3px;
}

main .locations {
  display: none;
}

main #tab1:checked ~ #roomlist #location1 {
  display: flex;
}

main #tab2:checked ~ #roomlist #location2 {
  display: flex;
}

main #tab3:checked ~ #roomlist #location3 {
  display: flex;
}

main #tab4:checked ~ #roomlist #location4 {
  display: flex;
}

main #tab5:checked ~ #roomlist #location5 {
  display: flex;
}

main #tab6:checked ~ #roomlist #location6 {
  display: flex;
}

main #tab7:checked ~ #roomlist #location7 {
  display: flex;
}

main #tab8:checked ~ #roomlist #location8 {
  display: flex;
}

main #tab9:checked ~ #roomlist #location9 {
  display: flex;
}

main #tab10:checked ~ #roomlist #location10 {
  display: flex;
}

main #tab11:checked ~ #roomlist #location11 {
  display: flex;
}

#travel {
  margin-bottom: 100px;
}
#travel .titles {
  margin-bottom: 20px;
}
#travel .titles h2 {
  font-size: clamp(24px, 2.1vw, 40px);
}
#travel #travellist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 23.6vw;
}
#travel #travellist div {
  width: 23.2%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
#travel #travellist div p:first-child {
  width: 100%;
  height: 100%;
}
#travel #travellist div p:first-child img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
#travel #travellist div p:first-child img:hover {
  scale: 1.1;
}
#travel #travellist div .travelp {
  color: #fff;
  font-size: clamp(18px, 1.7vw, 33px);
  font-weight: bolder;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#promotion {
  width: 100%;
  height: 13vw;
  position: relative;
  margin-bottom: 100px;
}
#promotion img {
  width: 99.95%;
}
#promotion #bannerp {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 22.7vh;
  padding: 2.8vw 39.6vw;
}
#promotion #bannerp h3 {
  color: #fff;
  text-align: center;
  font-size: 1.7vw;
  margin: 10px 0 24px;
  white-space: nowrap;
  line-height: 1.2;
}
#promotion #bannerp p {
  color: #fff;
  text-align: center;
  font-size: 1.2vw;
  white-space: nowrap;
  line-height: 1.2;
  font-weight: 500;
}
#promotion #bannerp p span {
  font-weight: bold;
  font-size: 1.7vw;
}

.container {
  padding: 0 0 0 220px;
  overflow: hidden;
  margin-bottom: 50px;
}

#magazine {
  margin-bottom: 100px;
}
#magazine .titles {
  margin-bottom: 20px;
  margin-top: 0px;
}
#magazine .titles h2 {
  font-size: clamp(24px, 2.1vw, 40px);
}
#magazine .swiper-wrapper {
  width: 24%;
  position: relative;
}
#magazine .swiper-wrapper .swiper-slide {
  width: 100%;
}
#magazine .swiper-wrapper .swiper-slide img {
  width: 100%;
}
#magazine .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 22%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#magazine .caption h6 {
  margin-bottom: 10px;
  font-size: clamp(12px, 0.9vw, 18px);
  font-weight: 400;
}
#magazine .caption p {
  margin: 0;
  font-size: 1.1vw;
  font-weight: 300;
}

#ads {
  width: 100vw;
  height: 26.1vw;
  max-height: 500px;
  background: url("../images/banner_02.png") no-repeat fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#ads #adstitle {
  color: #fff;
}
#ads #adstitle h2 {
  font-size: clamp(20px, 3vw, 50px);
}
#ads #adstitle p:nth-child(2) {
  font-size: clamp(16px, 2vw, 20px);
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.5;
}
#ads #adstitle p:nth-child(3) {
  width: 220px;
  height: 100%;
  transition: all 0.5s;
  margin: 0 auto;
}
#ads #adstitle p:nth-child(3) a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px 50px;
  height: 47px;
  line-height: 47px;
  width: 150px;
  font-weight: bold;
}
#ads #adstitle p:nth-child(3) a span {
  font-size: 20px;
}

footer {
  background: #333;
  color: #fff;
  padding: 1vw 0;
  width: 100%;
  bottom: 0;
  font-size: 0.8vw;
  white-space: nowrap;
}
footer hr {
  margin: 10px 0;
}
footer .foottitle {
  font-weight: bold;
}
footer .phone {
  font-size: clamp(24px, 1.6vw, 30px);
  font-weight: bold;
  margin: -6px 0 6px;
}
footer #footerlogo {
  margin-bottom: 30px;
  margin-top: 10px;
}
footer #footerlogo p {
  width: 100%;
  height: 100%;
}
footer #footerlogo p img {
  width: 8vw;
}
footer #footercontent {
  display: flex;
  justify-content: space-between;
  font-size: clamp(12px, 0.8vw, 20px);
}
footer #footercontent #firstfoot {
  display: flex;
  width: 30%;
}
footer #footercontent #firstfoot #qus {
  width: 30%;
  line-height: 1.5;
}
footer #footercontent #firstfoot #ans {
  width: 70%;
  line-height: 1.5;
}
footer #footercontent #secondfoot {
  /*ul{display: flex; flex-direction: column; justify-content: flex-end; height: calc(100% - 26.5px);}*/
}
footer #footercontent #secondfoot ul li a {
  text-decoration: none;
  color: #fff;
}
footer #footercontent #secondfoot li {
  line-height: 1.5;
}
footer #footercontent #thirdfoot ul li {
  line-height: 1.5;
}
footer #footercontent #forthfoot ul {
  display: flex;
  justify-content: space-between;
}
footer #footercontent #forthfoot ul li a {
  color: #555;
}
footer #copyright {
  color: rgba(255, 255, 255, 0.4666666667);
}

@media all and (max-width: 1024px) {
  .inner {
    padding: 0 60px;
  }
  .container {
    padding: 0 0 0 60px;
  }
  #mainvisual .intro {
    position: absolute;
    left: 60px;
    bottom: 80px;
    color: #fff;
  }
  header .inner {
    padding: 0 60px;
  }
}/*# sourceMappingURL=stylesheet.css.map */